/* General Page Styling */
.page-content {
  padding: 20px;
}

.invoices-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page-title2 {
  font-size: 24px;
  font-weight: bold;
}

/* Supplier filter input */
.supplier-flex {
  display: flex;
  align-items: center;
}

.supplier-text {
  margin-right: 10px;
}

.supplier-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.align-right {
  text-align: right;
  font-weight: bold;
}

/* Invoices List */
.invoice-list {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  max-height: 80vh;
}

.invoice-item {
  padding: 15px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.invoice-item:hover {
  background-color: #eef4ff;
}

.invoice-item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 0.5rem;
}

.invoice-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Buttons */
.save-button,
.edit-button {
  padding: 6px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.paid-button:hover,
.save-button:hover,
.edit-button:hover {
  background-color: #2980b9;
}

/* Edit/Delete Icons */
.delete-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  margin-left: 15px;
}

.delete-icon:hover,
.edit-icon:hover {
  color: #e74c3c;
}

/* Edit Mode */
.invoice-item input,
.invoice-item select {
  width: calc(100% - 15px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.invoice-item select {
  background-color: white;
  cursor: pointer;
}

/* Date Picker Styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  display: block;
}

.react-datepicker__input-container input {
  width: calc(100% - 15px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Status Colors */
.status {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}

.status.platit {
  background-color: #2ecc71;
}

.status.scadenta-astazi {
  background-color: #f1c40f;
}

.status.scadenta-depasita {
  background-color: #e74c3c;
}

.status.in-termen {
  background-color: #3498db;
}

/* Save Button */
.save-button {
  margin-top: 10px;
  background-color: #2ecc71;
}

.save-button:hover {
  background-color: #27ae60;
}

/* Button Container for Save */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.pointer {
  cursor: pointer;
}

.view {
  width: 15rem;
}
.tools {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}
